<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/style2.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
<!-- 黑色导航start -->
    <div class="nav">
		<div class="w">
			<ul class="box1">
				<li><a href="{% url 'index' %}">HomePage</a></li>
				<li><a href="{% url 'allrecipes' %}">Recipes</a></li>
				<li><a href="{% url 'ingredients' %}">Ingredients</a></li>
				<li><a href="{% url 'contact_us' %}">Contact Us</a></li>
			</ul>
			<div class="b1">
				<a href="{% url 'likedrecipes' %}">Favorites({{ count_favorite }})</a>
			</div>
			<ul class="box2">
				{% if 'nickname' not in request.session or 'id' not in request.session %}
					<li><a href="{% url 'register' %}">Register</a></li>
					<li><a href="{% url 'login' %}" class="a1">Login</a>
				{% else %}
					<li><a href="{% url 'myaccount' %}">{{ request.session.nickname }}</a></li>
					<li><a href="{% url 'logout' %}" class="a1">Log out</a>
				{% endif %}
					<div>

                    </div>
					<p class="yinchan" style="background-color: #333;width: 80px;position: absolute;">
						<a href="{% url 'myaccount' %}" class="a2">My Account</a>
						<a href="{% url 'logout' %}" class="a2">Log out</a>
					</p>
				</li>
			</ul>
			<!-- </div> -->
		</div>
	</div>
	<!-- 黑色导航end -->

    <!-- 白色导航 start -->
    <div class="white-nav">
        <div class="wrap">
            <div class="nav-bar">
                <ul>
                    <li><a href="{% url 'index' %}"><img src="/static/img/M1.png" alt=""></a></li>
                    <li><a href="{% url 'index' %}">HOMEPAGE</a></li>
                    <li><a href="{% url 'allrecipes' %}">RECIPES</a></li>
                    <li><a href="{% url 'ingredients' %}">INGREDIENTS</a></li>
                    <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>
                </ul>
            </div>
            <form action="{% url 'search' %}" method="get" class="search">
                <input type="text" name="search" placeholder="Beijing Duck">
                <button type="submit" class="iconfont">&#xe63d;</button>
            </form>
        </div>
    </div>
    <!-- 白色导航 end -->

     <div id="app" class="food_content">
        <h1>Recipes</h1>
        <div class="tab-bar">
        <span>Featured</span>
        <span>All</span>
        </div>
        <div class="food_list">
        </div>
     </div>

  <script>

    var spanEl = document.querySelectorAll("span");
    spanEl[0].className = "active"
    for (var i = 0; i < spanEl.length; i++) {
      spanEl[i].onclick = function() {
        for (var i = 0; i < spanEl.length; i++) {
          spanEl[i].className = ""
        }
        this.className = 'active'
      }
    }
    let foodList = [
      {
        imgUrl: '../media/field/cheesy_leeks.jpg',
        name: 'Cheesy leeks',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../media/field/crispy_duck.jpg',
        name: 'Crispy_Duck',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../media/field/chickentikkamasala.jpg',
        name: 'Masala',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../media/field/mushroom_bourguignon.jpg',
        name: 'Mushroom Food',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../media/field/pancake.jpeg',
        name: 'Pancake',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../media/field/Peking_Duck.jpg',
        name: 'Peking_Duck',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../media/field/roast_leg_of_lamb.jpg',
        name: 'Roast Lamb',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../media/field/tiramisu_cake.jpg',
        name: 'Tiramisu',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../static/img/images/food9.png',
        name: 'Rump',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../media/field/lemon_and_tarragon_roast.jpg',
        name: 'Lemon Roast',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../static/img/images/food11.png',
        name: 'Vegetable stock',
        desc: 'INGREDIENT'
      },
      {
        imgUrl: '../static/img/images/food12.png',
        name: 'Walnut',
        desc: 'INGREDIENT'
      },
    ]

    var str = '';
    for (var i = 0; i < foodList.length; i++) {
      str += '<div class="food_item"><img src=' + foodList[i].imgUrl + ' /><p class="name">' + foodList[i].name + '</p><p class="desc">' + foodList[i].desc + '</p></div>'
    }
    document.querySelector(".food_list").innerHTML = str;
  </script>
</body>
</html>