<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flavor</title>
    <!-- 引入网页图表 link rel="icon" href="./images/favicon.ico"-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- 引入字体图标 -->
    <link rel="stylesheet" href="../static/plugins/iconfont/iconfont.css">

    <link rel="stylesheet" href="../static/css/contact_us.css">
</head>
<body>
    <!-- 黑色导航start -->
    <div class="nav">
		<div class="w">
			<ul class="box1">
				<li><a href="javascript:;">HomePage</a></li>
				<li><a href="#">Label2</a></li>
				<li><a href="#">Label3</a></li>
				<li><a href="/contact_us/">Contact Us</a></li>

			</ul>
			<!-- <div id="123"> -->
			<div class="b1">
				<a href="javascript:;">Favorites（4）</a>
			</div>
			<ul class="box2">
				<li><a href="/register/">Register</a></li>
				<li><a href="/login/" class="a1">Login</a>
					<div>

                    </div>
					<p class="yinchan" style="background-color: #333;width: 80px;position: absolute;">
						<a href="#" class="a2">My Account</a>
						<a href="#" class="a2">Log out</a>
					</p>
				</li>
			</ul>
			<!-- </div> -->
		</div>
	</div>
	<!-- 黑色导航end -->

    <!-- 白色导航 start -->
    <div class="white-nav">
        <div class="wrap">
            <div class="nav-bar">
                <ul>
                    <li><a href="#"><img src="../static/img/zzxsh.gif" alt=""></a></li>
                    <li><a href="/index/">HOMEPAGE</a></li>
                    <li><a href="#">RECIPES</a></li>
                    <li><a href="#">INGREDIENTS</a></li>
                    <li><a href="/contact_us/">CONTACT US</a></li>

                </ul>
            </div>
            <div class="search">
                <input type="text" placeholder="Beijing Duck">
                <button class="iconfont">&#xe63d;</button>
            </div>
        </div>
    </div>
    <!-- 白色导航 end -->

    <!-- Content Start -->
    <div class="box3">
        <li><img src="../static/img/ContactUs.png" width="1225px" height="460px"></li>
    </div>
    <div class="box4">
        <ul class="a3">
            <h1 class="h1">Contact Us</h1>
            <h2>TODO</h2>
        </ul>
    </div>


    <script src="../static/js/contact_us.js"></script>
    <!-- Content End -->
</body>
</html>