<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Center</title>
    <!-- 引入网页图表 link rel="icon" href="./images/favicon.ico"-->
    <link rel="stylesheet" href="../static/css/public.css">
    <!-- 引入字体图标 -->
    <link rel="stylesheet" href="../static/plugins/iconfont/iconfont.css">

    <link rel="stylesheet" href="../static/css/information.css">
</head>
<body>
<!-- 黑色导航start -->
    <div class="nav">
		<div class="w">
			<ul class="box1">
				<li><a href="{% url 'index' %}">HomePage</a></li>
				<li><a href="{% url 'myaccount' %}">Recipes</a></li>
				<li><a href="{% url 'ingredients' %}">Ingredients</a></li>
				<li><a href="{% url 'contact_us' %}">Contact Us</a></li>
			</ul>
			<div class="b1">
				<a href="{% url 'likedrecipes' %}">Favorites({{ count_favorite }})</a>
			</div>
			<ul class="box2">
				{% if 'nickname' not in request.session or 'id' not in request.session %}
					<li><a href="{% url 'register' %}">Register</a></li>
					<li><a href="{% url 'login' %}" class="a1">Login</a>
				{% else %}
					<li><a href="{% url 'myaccount' %}">{{ request.session.nickname }}</a></li>
					<li><a href="{% url 'logout' %}" class="a1">Log out</a>
				{% endif %}
					<div>

                    </div>
					<p class="yinchan" style="background-color: #333;width: 80px;position: absolute;">
						<a href="{% url 'myaccount' %}" class="a2">My Account</a>
						<a href="{% url 'logout' %}" class="a2">Log out</a>
					</p>
				</li>
			</ul>
			<!-- </div> -->
		</div>
	</div>
	<!-- 黑色导航end -->

    <!-- 白色导航 start -->
    <div class="white-nav">
        <div class="wrap">
            <div class="nav-bar">
                <ul>
                    <li><a href="#"><img src="../static/img/M1.png" alt=""></a></li>
                    <li><a href="{% url 'index' %}">HOMEPAGE</a></li>
                    <li><a href="{% url 'contact_us' %}">RECIPES</a></li>
                    <li><a href="{% url 'ingredients' %}">INGREDIENTS</a></li>
                    <li><a href="{% url 'contact_us' %}">CONTACT US</a></li>

                </ul>
            </div>
            <div class="search">
                <input type="text" placeholder="Beijing Duck">
                <button class="iconfont">&#xe63d;</button>
            </div>
        </div>
    </div>
    <!-- 白色导航 end -->

    <!-- Content Start -->
	<div class="Bott">
		<div class="wrapper clearfix">
			<div class="zuo fl">
				<h3>
					<a href="#"><img src="../media/{{ user_xx.icon }}" width="120px" height="120px"></a>
					<p class="clearfix"><span class="fl">{{user_xx.nickname}}</span>
				</h3>
				<div>
                    <h4>My Account</h4>
					<ul>
						<li><a href="{% url 'myaccount' %}">Index</a></li>
                        <li class="on"><a href="information.html">Information</a></li>
					</ul>
					<h4>What I posted</h4>
					<ul>
						<li><a href="{% url 'myrecipes' %}">Recipes</a></li>
						<li><a href="#">Comments</a></li>
					</ul>
					<h4>What I Liked</h4>
					<ul>
						<li><a href="{% url 'likedrecipes' %}">Recipes</a></li>
					</ul>
				</div>
			</div>
			<div class="you fl">
				<h2>PERSONAL INFORMATIONS</h2>
				<div class="gxin">
					<div class="tx"><a href="#"><img src="../media/{{ user_xx.icon }}" width="100px" height="100px"><p id="avatar">Edit</p></a></div>
					<div class="xx">
						<h3 class="clearfix"><strong class="fl">Basic Settings</strong><a href="#" class="fr" id="edit1">Edit</a></h3>
						<div>NICKNAME：{{ user_xx.nickname }}</div>
						<div>PASSWORD：{{ user_xx.password }}</div>
						<div>EMAIL：{{ user_xx.email }}</div>
						<h3>Advanced Settings</h3>
						<div><span class="fl">TODO</span><a href="#" class="fr" id="edit2">Edit</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--遮罩-->
	<div class="mask"></div>
    
	<!--编辑弹框-->
	<div class="bj">
		<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
		<h3>Edit Informations</h3>
		<form action="#" method="get">
			<p><label>Nickname：</label><input type="text"  value="" /></p>
			<p><label>Password：</label><input type="text"   /></p>
			<p><label>Email：</label><input type="text"   /></p>
			<div class="bc">
				<input type="button" value="SAVE"  />
				<input type="button" value="CANCEL" />
			</div>
		</form>
	</div>
	<!--高级设置修改-->
	<div class="xg">
		<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
		<h3>TODO</h3>
		<form action="#" method="get">
			<p><label>TODO：</label><input type="text"  value="***" /></p>
			<div class="bc">
				<input type="button" value="SAVE" />
				<input type="button" value="CANCEL" />
			</div>
		</form>
	</div>
    
	<!--修改头像-->
	<div class="avatar">
		<div class="clearfix"><a href="#" class="fr gb"><img src="img/icon4.png"/></a></div>
		<h3>Edit Icon</h3>
		<form action="#" method="get">
			<h4>Upload Photos</h4>
			<input type="button" value="UPLOAD ICON" />
			<p>jpg or png,no more than 2M</p>
			<input type="submit" value="SUBMIT" />
		</form>
	</div>
    <!-- Content End -->
</body>
</html>