<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/login.css">
    
    <style>
    </style>
</head>
<body>
<!--页头 header&menu-bar 之后替换-->
{% comment %}
    <div class="header">
        <div class="logo">网站 Logo</div>
        <div class="search-bar">
            <input type="text" placeholder="搜索...">
            <button type="submit">Search</button>
        </div>
        <div class="login-register">
            <a href="{% url 'login' %}">登录/注册</a>
        </div>
    </div>
    <div class="menu-bar">
        <div class="menu-item">首页</div>
        <div class="menu-item">菜谱</div>
        <div class="menu-item">Contact us</div>
    </div>
{% endcomment %}
<div class="jumbotron jumbotron-xl jumbotron-fluid overlay overlay-red"
     style="background-size:cover; background-image:url(/static/img/Orange.jpg);">
    <div class="account">
        <h1 class="title" style="font-size: xxx-large">Sign in</h1>
        <p style="text-align: center; font-size: small">Log in to post a recipe or see your favorite recipes</p>

        <p style=" text-align: right; font-size: small">Not a member?
            <a data-testid="register-action" href="{% url 'register' %}">Register now › </a>
        </p>

        <form style="text-align: left" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1" class="subtitle">Username</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="subtitle">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password"
                       required>
            </div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
                <div style="font-size: small">
                    Forgot password?
                    <a id="login-continue1" href="" style="font-size: small"> Click here › </a>
                </div>
            </div>

            <div class="btn-container" style="margin-top: 8px">
                <button type="submit" class="btn btn-lg btn-danger btn-round  mb-1" style="font-size: small">
                    Sign in
                </button>
            </div>

        </form>
        {% if messages %}
            {% for msg in messages %}
            <script type="text/javascript">
                var messages = "{{ msg }}";
                alert(messages);
            </script>
            {% endfor %}
        {% endif %}
    </div>

</div>

</body>
</html>
