<!-- 3. 动态urls+html模版实现recipes界面-->
<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.title }}</title>
    <!-- 引入网页图表 link rel="icon" href="./images/favicon.ico"-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- 引入字体图标 -->
    <link rel="stylesheet" href="../static/plugins/iconfont/iconfont.css">

    <link rel="stylesheet" href="../static/css/recipes.css">

    <!-- 这里可以添加其他样式和脚本 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">

    <style>
        .recipe-container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
        }

        .recipe-image-container {
            text-align: left;
            padding-left: 100px;

        }

        .recipe-image-container img {
            width: 350px;
            height: 250px;
            object-fit: cover;
        }

        .recipe-info-container {
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 40px;

        }

        .recipe-info-container p {
            margin-top: 10px;
        }

        h4 {
            margin-top: 20px;
            font-weight: bold
        }
    </style>
</head>
<body>
    <!-- 黑色导航start -->
    <div class="nav">
		<div class="w">
			<ul class="box1">
				<li><a href="javascript:;">HomePage</a></li>
				<li><a href="#">Label2</a></li>
				<li><a href="#">Label3</a></li>
				<li><a href="#">Contact Us</a></li>

			</ul>
			<!-- <div id="123"> -->
			<div class="b1">
				<a href="javascript:;">Welcome{{user.neckname}}</a>
			</div>
			<ul class="box2">
				<li><a href="#">Messages</a></li>
				<li><a class="a1">Log out</a>
					<div>
					</div>
					<p class="yinchan" style="background-color: #333;width: 80px;position: absolute;">
						<a href="#" class="a2">个人空间</a>
						<a href="#" class="a2">退出登录</a>
						<!-- 利用button加window.open也可以实现跟a一样的效果 -->
					</p>
				</li>
			</ul>
			<!-- </div> -->
		</div>
	</div>
	<!-- 黑色导航end -->


    <!-- 白色导航 start -->
    <div class="white-nav">
        <div class="wrap">
            <div class="nav-bar">
                <ul>
                    <li><a href="#"><img src="../static/img/M.png" alt=""></a></li>
                    <li><a href="/index/">HOMEPAGE</a></li>
                    <li><a href="#">RECIPES</a></li>
                    <li><a href="#">INGREDIENTS</a></li>
                    <li><a href="/contact_us/">CONTACT US</a></li>

                </ul>
            </div>
            <div class="search">
                <input type="text" placeholder="Beijing Duck">
                <button class="iconfont">&#xe63d;</button>
            </div>
        </div>
    </div>
    <!-- 白色导航 end -->

<!--
<div class="container">
    <div class="header">
        <div class="logo">网站 Logo</div>
        <div class="search-bar">
            <input type="text" placeholder="搜索...">
            <button type="submit">Search</button>
        </div>
        <div class="login-register">
            <a href="/login/">登录/注册</a>
        </div>
    </div>
    <div class="menu-bar">
        <div class="menu-item">首页</div>
        <div class="menu-item">菜谱</div>
        <div class="menu-item">Contact us</div>
    </div>
-->
    <!--页头 header&menu-bar 之后替换-->

<!--之后有具体的菜谱内容以后会再美化-->
    <div class="recipe-container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="recipe-image-container">
                    <div>
                        <img src="{{ recipe.r_imagefield }}" alt="{{ recipe.title }}">
                        <!-- 测试图片 -->
                        <img src="https://i3.meishichina.com/attachment/magic/2024/01/27/2024012717063469037501.jpg">
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-md-6">
                <div class="recipe-info-container">
                    <h1>{{ recipe.title }}</h1>
                    <p>Author: {{ recipe.user_id.nickname }}</p>
                    <p>Category: {{ recipe.category }}</p>
                    <p>Average Rating: {{ recipe.avg_rating }}</p>
                </div>
            </div>
        </div>


        <div class="recipe-details">
            <div style="margin-left: 10px">
                <h4>Content</h4>
                <p>{{ recipe.content }}</p>
            </div>
            <div style="margin-left: 10px">
                <h4>Make A Comment</h4>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="2"></textarea>
                    </div>
                    <div style="text-align: center">
                        <button type="submit" class="btn btn-danger btn-round  mb-1"
                                style="font-size: small">Submit
                        </button>
                    </div>

                </form>
            </div>

            <div class="bs-example" data-example-id="simple-table">
                <table class="table">
                    <thead>
                    <tr class="h4">
                        <th>Comments</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-xs-8">
                            <ul style="margin-left: 10px">
                                {% for comment in recipe.comment_set.all %}
                                    <li>{{ comment.comment }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="col-xs-2">
                            <ul style="margin-left: 15px">
                                {% for comment in recipe.comment_set.all %}
                                    <li>{{ comment.user_id.nickname }}</li>
                                {% endfor %}
                            </ul>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- 这里可以添加其他菜谱相关内容，如评论、点赞等 -->
        <!-- 展示三个推荐菜谱? 随机/评分/用户爱好-->
        {% for _ in "123" %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ recipe.r_imagefield.url }}" alt="{{ recipe.title }}">
                    <!-- 测试图片 -->
                    <img src="https://i3.meishichina.com/attachment/magic/2024/01/27/2024012717063469037501.jpg">
                    <div class="caption" style="text-align: center">
                        <h3>{{ recipe.title }}</h3>
                        <p>{{ recipe.avg_rating }}</p>
                        <a href="/recipes/{{ recipe.id }}" class="btn btn-danger btn-round mb-1"
                           style="background-color: #E23D1B;">View More</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
</body>
</html>
